@font-face {
	font-family: 'PT Sans';
	font-style: normal;
	src: local 'PT Sans',
		url('../fonts/ptsans.woff') format('woff'),
		url('../fonts/ptsans.woff2') format('woff2');
}

@font-face {
	font-family: 'PT Sans Bold';
	font-style: bold;
	src:
		url('../fonts/ptsansbold.woff') format('woff'),
		url('../fonts/ptsansbold.woff2') format('woff2');
}

body {
	width: 1200px;
	margin: 0 auto;
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 14px;
	color: black;
	text-transform: uppercase;
}

h1, h2, p, input {
	margin: 0;
	padding: 0;
}

.menu-and-logo {
	position: relative;
}

.logo-img {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.menu {
	display: flex;
	justify-content: space-between;
	align-items: center; 
	height: 56px;
	padding: 0 72px;
	font-family: 'PT Sans Bold', sans-serif; 
}

.menu__link:nth-child(2) {
	margin-right: 300px;
}

.menu__link {
	color: black;
	text-decoration: none;
}

.intro {
	background-image: url('../img/intro/intro-background.jpg');
	min-height: 508px;
	margin-bottom: 65px;
}

.intro:after {
	content: url('../img/intro/pseudo-intro.png');
	z-index: 2000;
	position: relative;
	bottom: -23px;
}

.intro__text {
	display: block;
	margin: 0 auto;
	padding-top: 77px;
}

.content__titles {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content__title {
    width: 600px;
    font-size: 21px;
    font-family: 'PT Sans Bold', 'Arial', sans-serif;
    line-height: 26px;
    text-align: center;
    margin-bottom: 26px;
}

.content__small-title {
	width: 552px;
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
	margin-left: 10px;
	margin-bottom: 49px;
}

.gallery {
	display: flex;
	max-height: 258px;	
}

.gallery__title, .features__title, .advantages__title {
	font-size: 21px;
    font-family: 'PT Sans Bold', 'Arial', sans-serif;
}

.gallery__item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 258px;
	width: 400px;
	color: white;
	background-color: #81b3d2;
}

.gallery__item--hover:hover {
	background: rgba(200,30,50,0.5);
}

.gallery__text {
	text-align: center;
	width: 350px;
}

.features {
	display: flex;
	align-items: baseline;
}

.features__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/*min-height: 330px;*/
	padding: 61px 0 88px 0;
	width: 33.3333333%;
}

.features__title {
	margin: 32px 0;
}

.title-number {
	margin: 23px 0;
}

.features__text {
	text-align: center;
	width: 80%;
	margin: 0;
}

.advantages {
	display: flex;
	margin-bottom: 52px; /* в макете 58px, ниже описываю проблему*/
}

.advantages__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: black;
	background-color: #eeeeee;
	/*min-height: 256px;*/
	padding: 50px 0px 65px 0px;
	width: 33.3333333%;
}

.advantages__item--hover:hover {
	background-color: rgba(255,255,30,0.2);
}

.advanatges__text {
	width: 300px;
	text-align: center;
}

.search-window__header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.search-window__title {
	font-size: 30px;
	font-family: 'PT Sans Bold', 'Arial', sans-serif;
	margin-bottom: 24px; /*в макете 38px*/
}

.search-window__span {
	width: 490px;
	font-size: 14px;
	font-family: 'PT Sans', 'Arial', sans-serif;
	line-height: 24px;
	text-align: center;
	margin-bottom: 45px; /* в макете отступ 54, но для 
							того, чтобы в веб был тоже такой отступ
							приходится задать его, как 45. 
							Почему? Ведь h1,h2 и p = 0 */
}

.search-window__js-button {
	width: 568px;
	height: 86px;
	font-size: 21px;
	text-transform: uppercase;
	font-family: 'PT Sans Bold', 'Arial', sans-serif;
	text-align: center;
	color: white;
	background-color: #766357;
}

.map-background {
	position: relative;
}

.google-map {
	position: absolute;
	top: 0;
	z-index: 0;
	height: 594px;
}

.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 568px;
    height: 395px;
    background-color: white;
    z-index: 2;
    position: relative;
    top: 0;
}

.search-form__containter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 250px;
}

.more-btn, .less-btn, .calendar-btn, .people-counter__input, 
.search-form__input {
	font-size: 14px;
	font-family: 'PT Sans Bold', 'Arial', sans-serif;
	border: none;
	border-radius: 0;
	background-color: #f2f2f2;
	height: 38px;
	width: 35px;
}

.search-form__text {
	font-size: 14px;
	font-family: 'PT Sans Bold', sans-serif;
	line-height: 0;
} 

.adults-counter, .children-counter {
	display: flex;
    align-items: center;
    margin-left: 41px;
}

.search-form__item {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 460px;
}

.search-form__input-div {
	background-color: #f2f2f2;
	height: 38px;
	width: 346px;
}

.search-form__input {
	font-size: 14px;
	font-family: 'PT Sans Bold', sans-serif;	
	width: 305px;
	padding-left: 12px;
}

.calendar-btn {
    height: 22px;
    width: 22px;
    background: url('../img/calendar.svg') center center no-repeat;
    background-color: transparent;
    vertical-align: middle;
    position: relative;
    right: 9px;
}

.search-form__people-quantity {
	display: flex;
	justify-content: space-between;
	width: 460px;
	margin-bottom: 54px;
}

.adults-form, .children-form {
	display: flex;
	align-items: center;
}

.people-counter__input {
	text-align: center;
}

.more-btn, .less-btn { /*странно, значок '-' располагается 
					ниже чем значок '+' */
	font-family: 'PT Sans Bold', 'Arial', sans-serif;	
	background-color: #f2f2f2;
	color: #a9a9a9;
	font-size: 16px;
	font-weight: bold;
}

.more-btn { 
	/*background: url('../img/icon-up-dir.svg') center center no-repeat; */
}

.less-btn { 
	/*background: url('../img/icon-down-dir.svg') center center no-repeat; */
}

.search-form__button {
	width: 462px;
	height: 58px;
	font-family: 'PT Sans Bold', 'Arial', sans-serif;	
	font-size: 21px;
	text-transform: uppercase;
	color: white;
	background-color: #81b3d2;
	border: 0;
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(255,255,255, 0.8); 
	z-index: 1;
	position: relative;
	bottom: -79px;
}

.footer__container {
	width: 1200px;
	height: 120px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 101px 0 133px;
}

.hashtag {
	color: black;
	font-size: 21px;
	font-family: 'PT Sans Bold', 'Arial', sans-serif;
	font-weight: bold;	
	text-decoration: none;
	line-height: 26px;	
}	

.social-icons {
	display: flex;
	justify-content: space-between;
	width: 149px;
}

.social-icons__twitter { 
	background: url('../img/twitter.svg') center center no-repeat;
	background-color: #81b3d2;
	height: 48px;
	width: 46px;
}

.social-icons__youtube {
	background: url('../img/youtube.svg') center center no-repeat;
	background-color: #81b3d2;
	height: 48px;
	width: 46px;
}

.social-icons__facebook {
	background: url('../img/fb-icon.svg') center center no-repeat;
	background-color: #81b3d2;
	height: 48px;
	width: 46px;
}

.htmlacademy-copyright {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: black;
	font-size: 14px;
	width: 225px;
	height: 42px;
}

.htmlacademy-copyright-logo {
	width: 115px;
	padding-left: 10px;
}

/********* hotels.index *********/

.hotel-options {
	display: flex;
	justify-content: space-between;
	background-image: url('../img/hotel-options__background.jpg');
	background-size: cover;
	/*height: 217px;*/
	padding: 27px 72px 0px 58px;
	margin-bottom: 32px;
}

.hotel-options__enviroment {
	display: flex;
	justify-content: space-between;
	width: 400px;	
}

.infrastructure {
	border: none;
	color: white;
	margin-right: 92px;	
}

.infrastructure-form {
	display: flex;
    justify-content: space-between;
    width: 1200px;
}

.infrastructure__title {
	font-size: 16px;
	font-family: 'PT Sans Bold', 'Arial', sans-serif;
	margin-bottom: 21px;
}

.infrastructure-form__option {
	font-size: 14px;
	font-family: 'PT Sans', 'Arial', sans-serif;
}

.hotel-type__option {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/*min-height: 90px;*/
}

input[type="checkbox"] {
 	display: none;
}

input[type="checkbox"] + label {
	position: relative;

	display: block;
	margin-bottom: 23px;
	padding-left: 35px;

	font-size: 14px;
	font-family: "PT Sans", 'Arial', sans-serif;
	line-height: 21px;
	color: white;

	cursor: pointer;
}

input[type="checkbox"] + label:before {
	content: url('../img/checkbox-off.svg');
	position: absolute;
	top: 0;
	left: 0;

	font-size: 14px;
	font-family: "PT Sans", 'Arial', sans-serif;
	color: white;
}

input[type="checkbox"]:checked + label::before {  
 	content: url('../img/checkbox-on.svg');
}

.day-price__title {
	font-size: 16px;
	font-family: 'PT Sans Bold', 'Arial', sans-serif;
	color: white;
	margin-bottom: 12px;
}

.submit-btn, .cost-level__min-value, .cost-level__max-value  {
	background: transparent;
	border: 2px solid white;
	border-radius: 2px;
	font-size: 14px;
	font-family: 'PT Sans', 'Arial', sans-serif;
	text-align: center;
	text-transform: uppercase;
	color: white;
	min-height: 30px;
}

.cost-level {
	position: relative;
}

.cost-level:after {
	display: inline-block;
	content: "";
	background: white;
	height: 24px;
	width: 2px;
    position: absolute;
    right: 158px;
    top: 5px;
}
.cost-level__min-value {
	border-right: none;
	margin-bottom: 20px;
	width: 159px;
}

/*.divider {
    display: inline-block;
    content: "";
    background: white;
    height: 24px;
    width: 2px;
    position: absolute;
    top: 5px;
}*/

.cost-level__max-value {
	border-left: none;
	margin-left: -6px;
	width: 159px;
}

.range {
	position: relative;
}

.range__bar {
	width: 100%;
	background-color: #ababab;
	height: 2px;
	margin-bottom: 34px;
}

.range__selected {
	width: 80%;
	background-color: white;
	height: 2px;
}

.toggle {
	width: 4px;
	height: 4px;
	background: #ababab;
	border-radius: 50%;
	border: 8px solid white;
	box-shadow: 0 1px 1px 0 #cfcfcf;
}

.toggle-min {
	position: absolute;
	top: -8px;
	left: 0px;
}

.toggle-max {
	position: absolute;
	top: -8px;
	left: 80%;
} 

.submit-btn {
	width: 137px;
	line-height: 0;
	padding: 15px 0;
	margin: 0 auto;
    display: block;
}

.hotels-window__header {
	padding: 0 72px;
}

.hotels-window__header, .hotels-window__sorting {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.hotels-window__title {
	font-size: 21px;
	font-family: 'PT Sans Bold', 'Arial', sans-serif;
	margin-right: 32px;
	margin-bottom: 36px;
}

.sort-options {
	display: flex;
	justify-content: space-around;
	font-size: 12px;
	font-family: 'PT Sans', 'Arial', sans-serif;
	width: 368px;
}

.sort-options__title {
	margin-right: 20px;
}

.sort-options__item {
	color: #cacaca;
	text-decoration-style: dotted;
	text-decoration-color: #81b3d2;
}

.sort-options--active {
	text-decoration: none;
	color: #81b3d2;
}

.up-btn, .down-btn {
	background-color: transparent;
	border: none;
	height: 10px;
	width: 11px;
}

.up-btn {
	background: url('../img/icon-up-dir.svg') center no-repeat;
}

.down-btn {
	background: url('../img/icon-down-dir.svg') center no-repeat;
}

.hotels-list__item {
	display: flex;
	justify-content: space-between;
	padding: 30px 72px;
	border-bottom: 1px solid #e5e5e5;
}

.hotels-list__item:first-child {
	border-top: 1px solid #e5e5e5;

}

.hotels-list__info {
	display: flex;
}

.hotels-list__photo {
	margin-right: 30px;
}

.hotels-list__description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 90px;
}

.hotels-list__title {
	font-size: 21px;
	font-family: 'PT Sans Bold', 'Arial', sans-serif;
	line-height: 16px;
}

.hotels-list__info-btns {
	display: flex;
}

.hotels-list__short-info {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 10px;
}

.hotels-list__type, .hotels-list__price {
	font-size: 14px;
	font-family: 'PT Sans', 'Arial', sans-serif;
	line-height: 0;
	margin-bottom: 23px;
} 

.hotels-list__description-btn, .hotels-list__order-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: white;
	background-color: #81b3d2;
	font-size: 14px;
	font-family: 'PT Sans Bold', 'Arial', sans-serif;
	width: 110px;
	height: 27px;
}

.hotels-list__order-btn {
	background-color: #766357;
	width: 142px;
}

.footer--hotels {
	position: relative;
	bottom: 0;
}